{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Beerch</title>
		<meta charset="utf-8" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'login_true/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>Beerch</strong>WEBSITE</a>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>¿Buscas un buen restaurante?</h1>
										</header>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>En nuestra web podrás:</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon solid fa-map-pin"></span>
											<div class="content">
												<h3>Buscar por localidad</h3>
												<p>Almacenamos todos los restaurantes disponibles de distintas localidades.</p>
												<ul class="actions">
													<li><a href="#" class="button">Saber más</a></li>
												</ul>												
											</div>
										</article>
										<article>
											<span class="icon solid fa-utensils"></span>
											<div class="content">
												<h3>¡Mira el restaurante!</h3>
												<p>¿Necesitas más información de un restaurante? Nosotros te la proporcinaremos.</p>
												<ul class="actions">
													<li><a href="#" class="button">Saber más</a></li>
												</ul>												
											</div>
										</article>
										<article>
											<span class="icon solid fa-comments"></span>
											<div class="content">
												<h3>Observa las opiones</h3>
												<p>Almacenamos restaurantes, pero también las opiones de distintos usuarios para que puedas valorar tu mismo.</p>
												<ul class="actions">
													<li><a href="#" class="button">Saber más</a></li>
												</ul>												
											</div>
										</article>
										<article>
											<span class="icon solid fa-thumbs-up"></span>
											<div class="content">
												<h3>¿Necesitas ayuda?</h3>
												<p>Podemos recomendarte un restaurante en función de tus necesidades.</p>
												<ul class="actions">
													<li><a href="#" class="button">Saber más</a></li>
												</ul>												
											</div>
										</article>
									</div>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="¿Qué buscas?" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
                                        <li>
											<span class="opener">Ajustes</span>
											<ul>
                                                <li><a href="/logout">Iniciar sesión</a></li>
												<li><a href="#">Cargar localidades</a></li>
												<li><a href="#">Cargar restaurantes</a></li>
											</ul>
										</li>
										<li><a href="welcome">¡Recomiendame algo!</a></li>
                                        <li><a href="films">Ver localidades</a></li>
                                        <li><a href="series">Restaurantes disponibles</a></li>
										<li><a href="cv.html">Opiniones de usuarios</a></li>
										<li><a href="elements.html">Usuarios registrados</a></li>
									</ul>
								</nav>	
		 				</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'login_true/js/jquery.min.js' %} "></script>
			<script src="{% static 'login_true/js/browser.min.js' %} "></script>
			<script src="{% static 'login_true/js/breakpoints.min.js' %} "></script>
			<script src="{% static 'login_true/js/util.js' %} "></script>
			<script src="{% static 'login_true/js/main.js' %} "></script>

	</body>
</html>