{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Beerch</title>
		<meta charset="utf-8" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'login_true/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<div id="wrapper">

			<div id="main">

				<div class="inner">

						<header id="header">
							<a href="/" class="logo">
								<strong>Beerch</strong>
								WEBSITE										
							</a>
							<ul class="icons">
								<li><a target="blank" href="https://github.com/alvar017" class="icon brands fa-github"><span class="label">GitHub Alvaro</span></a></li>
								<li><a target="blank" href="https://github.com/antoniosp7" class="icon brands fa-github-alt"><span class="label">GitHub Antonio</span></a></li>
							</ul>									
						</header>

						<section>
							<header class="main">
								<h1>{{restaurant.name}}</h1>
							</header>

							<span class="image main">
								{% if 'https:' in review.restaurant.id %}
									<a href="#" class="image"><img src="images/pic01.jpg" alt="" width="100%" height="100%"/></a>
								{% else %}
									<a href="#" class="image"><img src="/static/images/no_photo_restaurant.png" alt="" width="100%" height="100%"/></a>
								{% endif %}						
							</span>

							<hr class="major" />

							<header class="major">
								<h2>Datos del restaurante</h2>
							</header>
							<div class="features">
								<article>
									<div class="content">
										<h3>Menú ofrecido</h3>
										<p>{{restaurant.food_types}}</p>
										<h3>Diestas especiales</h3>
										<p>{{restaurant.special_diets}}</p>										
									</div>
								</article>
								<article>
									<div class="content">
										<h3>Contacto</h3>
										<p>Localidad: {{restaurant.town}}</p>
										<p>Dirección: {{restaurant.address}}</p>
										<p>Teléfono: {{restaurant.phone}}</p>
									</div>
								</article>
							</div>

							<hr class="major" />

							<header class="major">
								<h2>Valoraciones</h2>
							</header>
								<section>								
									<div class="posts">
										{% for review in reviews %}
											<article>
												<div class="content" style="margin-bottom: 20px;">
													<h3>{{review.user.name}}</h3>
													{% for i in '12345' %}
														{% if i|add:"0" <= review.rate %}
															<i class="fa fa-star fa-2x"></i>
														{% else %}
															<i class="far fa-star fa-2x"></i>								
														{% endif %}	
													{% endfor %}
													<p style="margin-top: 15px;">{{review.description}}</p>
												</div>
												<form method="post" action="review">
												{% csrf_token %}
													<input id="id" name="id" type="hidden" value={{ review.id }}>
													<button type="submit">Ver opinión</button>
												</form>									
											</article>
										{% endfor %}								
									</div>
										<ul class="pagination">
											<!-- PREVIOUS BOTTON-->
											{% if reviews.has_previous %}
												<li><a href="?page={{ reviews.previous_page_number }}&id={{restaurant.id}}" class="button">Prev</a></li>
											{% else %}
												<li><span class="button disabled">Prev</span></li>
											{% endif %}
											<!-- PREVIOUS BOTTON-->

											<!-- NAV BUTTON-->
											{% for i in reviews.paginator.page_range %}
												{% if reviews.number != i %}
												<li><a href="?page={{ i }}&id={{restaurant.id}}" class="page">{{ i }}</a></li>
												{% else %}
												<li><a href="#" class="page active">{{ i }}</a></li>
												{% endif %}
											{% endfor %}
											<!-- NAV BUTTON-->


											<!-- NEXT BOTTON-->
											{% if reviews.has_next %}
												<li><a href="?page={{ reviews.next_page_number }}&id={{restaurant.id}}" class="button">Next</a></li>
											{% else %}
												<li><span class="button disabled">Next</span></li>
											{% endif %}
											<!-- NEXT BOTTON-->
										</ul>									
								</section>													
						</section>
				</div>
			</div>

			<div id="sidebar">

				<div class="inner">

						<section id="search" class="alt">
							<img src="/static/images/etsii_us.png" alt="" width="100%" height="100%"/>		
						</section>

						<nav id="menu">
							<header class="major">
								<h2>Menu</h2>
							</header>
							<ul>
								<li>
									<span class="opener">Ajustes</span>
									<ul>
										<li><a href="/logout">Iniciar sesión</a></li>
										<li><a href="#">Cargar localidades</a></li>
										<li><a href="/indexRestaurants">Cargar restaurantes</a></li>
									</ul>
								</li>
								<li><a href="welcome">¡Recomiendame algo!</a></li>
								<li><a href="films">Ver localidades</a></li>
								<li><a href="restaurants">Restaurantes disponibles</a></li>
								<li><a href="reviews">Opiniones de usuarios</a></li>
								<li><a href="users">Usuarios registrados</a></li>
							</ul>																
						</nav>
				</div>
			</div>

		</div>

		<script src="{% static 'login_true/js/jquery.min.js' %} "></script>
		<script src="{% static 'login_true/js/browser.min.js' %} "></script>
		<script src="{% static 'login_true/js/breakpoints.min.js' %} "></script>
		<script src="{% static 'login_true/js/util.js' %} "></script>
		<script src="{% static 'login_true/js/main.js' %} "></script>

	</body>
</html>